<div class="col-lg-12 text-center" *ngIf="artist">
	
  <h1>
    <a [routerLink]="['/artist-detail',artist._id]">
      {{artist.name}}
    </a>

    <br />

    <div class="artist-image">

        <img *ngIf="artist.image != 'null'" src="{{url + 'get_image_artist/' + artist.image}}" class="artistImage"/>

    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
          
      <a [routerLink]="['/album-add',artist._id]" *ngIf="identity && user.role == 'ROLE_ADMIN'" class="btn btn-success">

        <span class="glyphicon glyphicon-add" aria-hidden="true">
        </span>
        Añadir álbum

      </a>

    </div>

    <br />

    <div class="artistInfo">

    <p class="description">

      {{artist.description}}
    
    </p>

    </div>

    <div class="clearfix">

    </div>

    <div class="artists col-sm-12 col-md-12 col-lg-12" *ngIf="albums">

      <ul class="artists-list"> 

        <li *ngFor="let album of albums">

          <div class="artist-image">

            <img *ngIf="album.image != 'null'" src="{{url + 'get_image_album/' + album.image}}" class="artistImage"/>

          </div>

          <div class="artist-name">

            <a class="title-album" [routerLink]="['/album-detail',album._id]">
            
              {{album.title}}
            
            </a>

            <br />

            <div class="artists-options" *ngIf="identity && user.role == 'ROLE_ADMIN'" >

              <a [routerLink]="['/album-edit',album._id]" class="btn btn-success">Editar</a>

              <a (click)="borrarAlbum(album._id)" class="btn btn-danger">Eliminar</a>

            </div>

            <!--a (click)="onDeleteConfirm(artist._id)" class="btn btn-danger">Eliminar</a>

            <div class="confirmacion" *ngIf="confirmado == artist._id">

              <a (click)="onDeleteArtist(artist._id)" class="btn btn-success">Aceptar</a>

              <a (click)="onCancelArtist()" class="btn btn-danger">Cancelar</a>

            </div-->

          </div>

          <br />

        </li>

      </ul>


    </div>

  </h1>

</div>
